{{>hf/header}}
    <div class="container" id="loginview">
        <h3> 로그인 페이지 </h3>
        아이디 <input id="id" /> <br/>
        비밀번호 <input id="pw" /> <br/>
        제목 <input id="title" /> <br/>
        내용 <textarea id="content" > </textarea> <br/>
        <button type="button" onclick="dowrite()">글 쓰기</button>
    </div>
    <script src="/js/write.js"></script>
{{>hf/footer}}